body {
    background-color: #fff;
    color: #555;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/the-ball-stadion-football-the-pitch-39562.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/the-ball-stadion-football-the-pitch-39562.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.main-nav {
	margin-top: 20px;
	float: right;
}

.main-nav li a:link,
.main-nav li a:visited {
	color : #fff;
	background-color: transparent;
	border-radius: 0;
}

.main-nav li a:hover,
.main-nav li a:active{
	color : #ff9600;
	border: 1px solid #ff9600;
	transition: border 0.3s, color 0.3s;
}

.slogan-text{
	position: relative;
	margin-top: 150px;	
}
/*------------------------------------------------------------------
* REUSABLEs
*-------------------------------------------------------------------*/
i {
    color : #ff9600;
}

.icon-medium{
    font-size: 40px;
}

/*------------------------------------------------------------------
* NEW TEAM PROFILE
*-------------------------------------------------------------------*/
.container-new-team{
    width: 30%;
}

/*------------------------------------------------------------------
* TEAMs LIST
*-------------------------------------------------------------------*/
.table-teams tbody tr td {
    vertical-align: middle;
}

/*------------------------------------------------------------------
* ANGULAR VALIDATION CLASSES
*-------------------------------------------------------------------*/
form .ng-valid{
    border: 1px solid #5cb85c;
}
