<div class="container" ng-if="!teamList">
    <h2>No teams avaiable.</h2>
</div>

<div class="container container-all-teams" ng-if="teamList">
    <h2>Teams</h2>

    <table class="table table-striped table-teams" ng-show="teamList">
        <thead>
            <th ng-if="listOpt == 2">Stadium Capacity</th>
            <th>Name</th>
            <th>City</th>
            <th>Details</th>
        </thead>
        <tbody>
            <tr ng-repeat="team in teamList">
                <td ng-if="listOpt == 2">{{team.stadiumCapacity}}</td>
                <td>{{team.name}}</td>
                <td>{{team.city}}</td>
                <td>
                    <a href="#" data-toggle="modal" data-target="#gridSystemModal" ng-click="byId(team.id)"><i class="ion-ios-glasses icon-medium"></i></a>
                </td>
            </tr>
        </tbody>
    </table>    
</div>

<div class="modal fade" id="gridSystemModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Details</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">  
            <div class="form-group">
                <label class="col-sm-4 control-label">Name</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{teamDetail.name}}</p>
                </div>        
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">City</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{teamDetail.city}}</p>
                </div>        
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Owner</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{teamDetail.owner}}</p>
                </div>        
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Stadium Capacity</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{teamDetail.stadiumCapacity}}</p>
                </div>        
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Competition</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{teamDetail.competition}}</p>
                </div>        
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Number of Players</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{teamDetail.numberPlayers}}</p>
                </div>        
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Number of Players</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{teamDetail.numberPlayers}}</p>
                </div>        
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Date Creation</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{teamDetail.dateCreation | date:'yyyy/MM/dd'}}</p>
                </div>        
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
