<div class="container container-new-team">
    <h2>Team Profile</h2>

    <form action="#" name="newTeamForm" novalidate>
        <div class="form-group">
            <label for="name">Team name</label>
            <input type="text" class="form-control" id="name" placeholder="Team Name" ng-model="newTeam.name" required>
        </div>

        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="City" ng-model="newTeam.city" required>
        </div>    
            
        <div class="form-group">
            <label for="owner">Owner</label>
            <input type="text" class="form-control" id="owner" placeholder="Owner" ng-model="newTeam.owner" required>
        </div>    

        <div class="form-group">
            <label for="stadium-capacity">Stadium Capacity</label>
            <input type="number" class="form-control" id="stadium-capacity" placeholder="Stadium Capacity" ng-model="newTeam.stadiumCapacity" required>
        </div>    

        <div class="form-group">
            <label for="competition">Competition</label>
            <input type="text" class="form-control" id="competition" placeholder="Competition" ng-model="newTeam.competition" required>
        </div>    

        <div class="form-group">
            <label for="number-players">Number of players</label>
            <input type="number" class="form-control" id="number-players" placeholder="Number of Players" ng-model="newTeam.numberPlayers" required>
        </div>

        <div class="form-group">
            <label for="date-creation">Creation</label>
            <input type="date" class="form-control" id="date-creation" placeholder="MM/DD/YYYY" ng-model="newTeam.dateCreation" required >
        </div>
        
        <!--
        <script>
			MaskedInput({
			  elm: document.getElementById('date-creation'),
			  format: 'MM/DD/YYYY',
			  separator: '\/',
			  typeon: 'MDY'
			});
        </script> -->

        <div class="row" ng-show="newTeamForm.$valid" >
            <p style="text-align:center">
                <button type="button" class="btn btn-primary btn-lg" ng-click="add();">Add</button>
            </p>
        </div>

        <div class="row" ng-show="result == 'success'">
            <p class="bg-success">Team successfully sent.</p>
        </div>

        <div class="row" ng-show="result == 'fail'">
            <p class="bg-success">Fail to send team.</p>
        </div>
    </form>
<div>
    
