<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script type="text/javascript" src="vendors/js/jquery/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="vendors/js/angular/angular.min.js"></script>
<script type="text/javascript" src="vendors/js/angular/angular-ui-router.min.js"></script>
<script type="text/javascript" src="vendors/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="vendors/js/masked_input_1.3-min.js"></script>
<script type="text/javascript" src="app.js"></script>
<link href="vendors/css/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"></link>
<link href="vendors/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet"></link>
<link href="resources/css/style.css" rel="stylesheet"></link>
<title>Insert title here</title>
</head>
<body ng-app="AppSisTechnicalTest">
	<header>
		<div class="container">
			<div class="row" ng-controller="navigation as nav">
				<ul class="nav nav-pills main-nav">
				  <li role="presentation" ng-show="authenticated"><a href="#/new">New team</a></li>
				  <li role="presentation" ng-show="authenticated"><a href="#/listaAll/1">All teams</a></li>
				  <li role="presentation" ng-show="authenticated"><a href="#/listaAll/2">Stadium capacity</a></li>
				  <li role="presentation"><a href="#/login">Login</a></li>
				  <li ng-show="authenticated"><a href="" ng-click="nav.logout()">logout</a></li>
				</ul>				
			</div>
			
			<div class="row">
				<h1 class="slogan-text">soccer is pation.</h1>
			</div>
		</div>
	</header>

	<div ui-view autoscroll='true'>

	</div>
</body>
</html>